body {

 font-family: "Roboto", sans-serif;   

}
h1 {
    font-family: "Sofia", sans-serif;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #223673;
  }
  
  
  .nav li a {
    color: white;
    text-align: center;
    padding: 35px;
    text-decoration: none;
  }

  .nav li {
    display: inline-block;
  }
  
  .nav li a:hover {
    background-color: #111111;
  }

  .profilbild {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
  }

  .button {
    background-color: #223673;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  
